.header {
    width: 95vw;
    height: 8vh;
}
.tableTitle {
    float: left;
    font-weight: bold;
    font-size: large;
}
.pageLengthInput {
    float: right;
    text-align: right;
}
.scrollbar {
    max-width: 99vw;
    height: 83vh;
    overflow: scroll;
}
.footer {
    width: 99vw;
    height: 8vh;
}
.inlineButton {
    float: left;
    width: 4%;
    color:blue;
}
.currentPageButton {
    color: white;
    background-color: blue;
}
.nowrap {
     white-space: nowrap;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
}