<div class="header">
    <div class="tableTitle">
        Sample Data
    </div>
    <div class="pageLengthInput">
        Rows per page: <input type="number" value="{{perPage}}" (input)="onPerPageChange($event.target.value)">
    </div>
</div>
<div class="scrollbar">
    <table>
        <thead>
            <tr>
                <th class="nowrap">Name</th>
                <th class="nowrap">Phone</th>
                <th class="nowrap">Email</th>
                <th class="nowrap">Company</th>
                <th class="nowrap">Entry Date</th>
                <th class="nowrap">Org. Num.</th>
                <th class="nowrap">Address</th>
                <th class="nowrap">City</th>
                <th class="nowrap">Zip</th>
                <th class="nowrap">Geo</th>
                <th class="nowrap">PAN</th>
                <th class="nowrap">PIN</th>
                <th class="nowrap">ID</th>
                <th class="nowrap">Status</th>
                <th class="nowrap">Fee</th>
                <th class="nowrap">GUID</th>
                <th class="nowrap">Exit Date</th>
                <th class="nowrap">First Date</th>
                <th class="nowrap">Recent Date</th>
                <th class="nowrap">url</th>
                <th class="nowrap"></th>
            </tr>    
        </thead>
        <tbody>
            <tr *ngFor= "let dataItem of displayedItems">
                <td  class="nowrap">{{dataItem.name}}</td>
                <td  class="nowrap">{{dataItem.phone}}</td>
                <td  class="nowrap">{{dataItem.email}}</td>
                <td  class="nowrap">{{dataItem.company}}</td>
                <td  class="nowrap">{{dataItem.date_entry}}</td>
                <td  class="nowrap">{{dataItem.org_num}}</td>
                <td  class="nowrap">{{dataItem.address_1}}</td>
                <td  class="nowrap">{{dataItem.city}}</td>
                <td  class="nowrap">{{dataItem.zip}}</td>
                <td  class="nowrap">{{dataItem.geo}}</td>
                <td  class="nowrap">{{dataItem.pan}}</td>
                <td  class="nowrap">{{dataItem.pin}}</td>
                <td  class="nowrap">{{dataItem.id}}</td>
                <td  class="nowrap">{{dataItem.status}}</td>
                <td  class="nowrap">{{dataItem.fee}}</td>
                <td  class="nowrap">{{dataItem.guid}}</td>
                <td  class="nowrap">{{dataItem.date_exit}}</td>
                <td  class="nowrap">{{dataItem.date_first}}</td>
                <td  class="nowrap">{{dataItem.date_recent}}</td>
                <td  class="nowrap">{{dataItem.url}}</td>
                <td  class="nowrap">
                    <button (click)="submitRow(dataItem.id, dataItem.status)">Submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <button *ngFor="let pageSelect of pageArray" 
        class="inlineButton" [ngClass]="{currentPageButton: pageSelect == currentPage}" 
        value="{{pageSelect}}" (click)="onPageChange($event.target.value)">
            {{pageSelect}}
    </button>
</div>
